/* .......signup and login....*/
.signup-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box{
width: 80%;
height: 80vh;
background-color:white;
border-radius: 10px;
display: flex;
flex-direction: row;
overflow: hidden;
}
.signup-left{
    width: 50%;
    background-color: #7033FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-left-heading{
    color: white;
    font-size: 28px;

}
.signup-left-para{
    color: yellow;
    font-size: 15px;

}
.signup-right{
    width: 50%;
    padding: 10px;
}
.signup-form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.signup-form input{
    padding:10px;
   
    border-radius:10px;
    border:1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
    
}
.signup-form button{
background-color: #F65164;
padding: 10px;
color: white;
width: 80%;
border-radius: 10px;
height: 45px;
font-size: 15px;
cursor: pointer;
}
.your-logo{
    height: 100px;
}
.link{
    color: #7033FF;
    text-decoration: none;
    margin-top: 20px;
}
/*---------------------dashboard------------------*/
.dashboard-main-container{
    height: 100vh;
    width: 100%;
    background:linear-gradient(to right,#cab3ff,rgb(219, 219, 223));
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.dashboard-container{
    width: 95%;
    height: 95vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}
.nav-container{
    width: 20%;
    height: 95vh;
    background-color: #7033FF;
}
.main-container{
     width: 80%;
    height: 95vh;
    background-color: white;
}