/* .......signup and login....*/
.signup-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #F5F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.signup-left {
    width: 50%;
    background-color: #7033FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-left-heading {
    color: white;
    font-size: 28px;

}

.signup-left-para {
    color: yellow;
    font-size: 15px;

}

.signup-right {
    width: 50%;
    padding: 10px;
}

.form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
}

.form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;

}
select{
     padding: 10px;

    border-radius: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
}

.form button {
    background-color: #F65164;
    padding: 10px;
    color: white;
    width: 80%;
    border-radius: 10px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
}

.your-logo {
    height: 100px;
}

.link {
    color: #7033FF;
    text-decoration: none;
    margin-top: 20px;
}

/*---------------------dashboard------------------*/
.dashboard-main-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #cab3ff, rgb(219, 219, 223));
    display: flex;
    justify-content: center;
    align-items: center;



}

.dashboard-container {
    width: 95%;
    height: 95vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.nav-container {
    width: 20%;
    height: 95vh;
    background-color: #7033FF;
    padding: 10px;
}

.main-container {
    width: 80%;
    height: 95vh;
    background-color: white;
}

.top-bar {
    height: 80px;
    width: 100%;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 20px;


}

.logo-container {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;

}

.profile-logo {
    width: 50px;
    height: 50px;

}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: green; */

}

.profile-name {
    font-size: 18px;

}

.logout-btn {
    background-color: #f65164;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.brand-container {
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 8px;

}

.brand-name {
    color: white;
    font-size: 17px;
}

.brand-slogon {
    font-size: 12px;
    color: yellow;
    position: relative;
    top: -10px;
}

/*........menu.....*/
.menu-container {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    /* background-color: red; */
    width: 90%;
    border-radius: 5px;

}

.menu-active-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    background-color: rgba(26, 8, 63, 0.5);
    width: 90%;
    border-radius: 5px;
}

.menu-link:hover {
    background-color: rgba(26, 8, 63, 0.5);
    transition: 0.5s;

}

.fa-solid {
    margin-right: 10px !important;

}

.contact-us {
    position: absolute;
    bottom: 5vh;
    color: yellow;


}

/*...main-container......*/

.outlet-area {
    padding: 10px;
}


/*.............course..............*/
.course-wrapper {
    width:100%;
    display: flex;
    flex-direction: row;
    gap:15px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.course-box {
    width: 23%;
    /* height: 25vh; */
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    
}
.course-box:hover{
    box-shadow: 1px 1px 10px royalblue;
    transition: 0.5s;
}
.course-thumbnail{
    width: 100%;
    height: 17vh;


}
.course-title{
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;

}
.course-price{
    font-size: 13px;
     text-align: center;

}
